# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.auto.tfvars
secret*.tfvars
backend.hcl

# Helm
gitops/charts/**/charts/
gitops/charts/**/*.tgz

# Local
.env
*.kubeconfig
kubeconfig
.DS_Store
.idea/
.vscode/
.handoffs/
